@font-face {
    font-family: 'Nunito ExtraLight';
    src: url('/../public/fonts/Nunito-ExtraLight.ttf');
}

@font-face {
    font-family: 'Nunito Light';
    src: url('/../public/fonts/Nunito-Light.ttf');
}

@font-face {
    font-family: 'Nunito Medium';
    src: url('/../public/fonts/Nunito-Medium.ttf');
}