@import '../styles/main';

.ActionBar {
    display: flex;
    background-color: $color-secondary;
    padding: 2px 5px;
    border-radius: 100px;
    margin-right: 30px;

    &__icon {
        fill: $color-foreground-dark;
        width: 27px;
        height: 27px;
        padding: 9px;
        margin: 0 6px;
        border-radius: 100px;
        transition-duration: $transition-factor * 2;

        &:hover {
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}