@import '../styles/main';

.FileList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px 0;

    &__inner {
        width: 90%;
        table-layout: fixed;
    }
}