@import '../styles/main';

.FileListItem {
    transition-duration: $transition-factor;
    margin: 2px 0;

    > * {
        padding: 10px 0;
        vertical-align: middle;
        transition-duration: 0.2s;
        border-spacing: 0 5px;
    }

    &__icon {
        padding-left: 15px;
        width: 40px;
        border-radius: 100px 0 0 100px;

        > * {
            width: 30px;
            height: 30px;
            fill: $color-foreground-dark;
        }
    }

    &__text {
        font-size: 1.2em;
        color: $color-foreground-dark;
    }

    &__meta {
        text-align: right;
    }

    &__date {
        padding-right: 15px;
        border-radius: 0 100px 100px 0;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }

    &__selected {
        > * {
            background-color: $color-secondary;
        }

        &:hover {
            > * {
                background-color: darken($color-secondary, 10%);
            }
        }
    }
}