@import '../styles/main';

.FileTree {
    display: flex;
    justify-content: center;
    align-items: center;

    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-secondary;
        padding: 10px 50px;
        border-radius: 0 0 100px 100px;
    }

    &__icon {
        fill: $color-foreground-dark;
        margin-right: 20px;
    }

    &__separator {
        fill: $color-foreground-dark;
        margin: 0 10px;
    }

    &__path {
        color: $color-foreground-dark;
        font-size: 1.2em;
    }
}

@media (max-width: 350px) {
    .FileTree {
        margin-top: 10px;
        
        &__inner {
            border-radius: 0;
            padding: 5px 5px;
            width: 100%;
            box-sizing: border-box;
        }
    }
}