@import '../styles/main';

.StaticHeader {
    background-color: $color-primary;
    padding: 10px 30px;
    border-radius: 0 0 30px 30px;
    box-shadow: $shadow-primary;
    position: sticky;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            color: $color-foreground-light;
            font-size: 2em;
            margin: 10px 0;
        }
    }

    &__actions {
        display: flex;
        align-items: center;

        > :first-child {
            margin-right: 30px;
        }
    }

    &__icon {
        fill: $color-foreground-light;
        width: 30px;
        height: 30px;
        transition-duration: $transition-factor * 2;
    }

    &:not(.StaticHeader--disabled) .StaticHeader__icon {
        &:hover {
            cursor: pointer;
            fill: darken($color-foreground-light, 10%);
        }
    }
}

@media (max-width: 600px) {
    .StaticHeader {
        &__inner {
            flex-direction: column;
        }

        &__icon {
            position: absolute;
            top: 20px;
            right: 20px;
        }

        &__actions {
            justify-content: center;

            > :first-child {
                margin-right: initial;
            }
        }
    }
}